html,
body {
  margin: 0%;
  overflow-x: hidden;
}

/* nav area */
#nav-logo {
  height: 100px;
  width: 100px;
}
#nav-btn {
  background-color: tomato;
  color: white;
  font-weight: bold;
}

/* header bike area style */

#bike-btn {
  background-color: tomato;
  color: white;
  padding: 7px 15px;
}
#header-bg {
  background-color: #264653;
  height: 820px;
}
#header-img {
  width: 552px;
  height: 400px;
}
/* fetured bike area style */
#bike-bg {
  background-image: url("images/Frame\ 57.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#fetured-p {
  color: rgb(253, 55, 19);
}
#img-grayscale {
  filter: grayscale(100%);
}
/* Latest new area style */
#btn-outline {
  color: rgb(238, 133, 115);
  border: 1px solid rgb(248, 95, 68);
}

/* Happy clints style */

#clints-img-width {
  width: 149px;
  height: 149px;
}
.fas {
  color: tomato;
}

/* <!-- Frequently Asked Questions style --> */
#freequently-img {
  width: 431px;
  height: 423px;
}

/* --------Footer image---- */
#footer-img-1 {
  width: 135px;
  height: 40px;
}

#footer-img-2 {
  width: 90px;
  height: 40px;
}

#footer-bg {
  height: 200px;
}

.fab {
  color: #dd7b1f;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}
.far {
  color: #f44336;
}

#watch-btn {
  background-color: rgb(192, 17, 61);
  text-decoration: none;
  font-weight: bold;
  color: white;
  padding: 10px 13px;
  border-radius: 5px;
}

/* submit area style */
#submit-bg {
  background-image: url("images/Frame\ 58.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Added Preloader */
.pre-loader{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 1000000;
}
.loader{
  width: 50px;
  height: 50px;
  margin: 50px auto 0;
  transform: rotate(45deg);
  position: relative;
  animation: rotation 1s infinite;
}
.loader div{
  background-color: #37a041;
  width: 15px;
  height: 15px;
  border-radius: 50px;
  position: absolute;
  left: 0;
}
.loader div:nth-child(1){ animation: shape1 0.3s ease 0s infinite alternate; }
.loader div:nth-child(2){
  background-color: #3867d6;
  left: auto;
  right: 0;
  animation: shape2 0.3s ease 0.3s infinite alternate;
}
.loader div:nth-child(3){ 
  background-color: #ffa502;
  bottom: 0;
  animation: shape3 0.3s ease 0.3s infinite alternate;
}
.loader div:nth-child(4){ 
  background-color: #eb2f06;
  bottom: 0;
  left: auto;
  right: 0;
  animation: shape4 0.3s ease 0s infinite alternate;
}
@keyframes rotation{
  0%{ transform: rotate(0deg); }
  100%{ transform: rotate(360deg); }
}
@keyframes shape1{
  0%{ transform: translate(0, 0); }
  100%{ transform: translate(10px, 10px); }
}
@keyframes shape2{
  0%{ transform: translate(0, 0); }
  100%{ transform: translate(-10px, 10px); }
}
@keyframes shape3{
  0%{ transform: translate(0, 0); }
  100%{ transform: translate(10px, -10px); }
}
@keyframes shape4{
  0%{ transform: translate(0, 0); }
  100%{ transform: translate(-10px, -10px); }
}

/* -----------END----------- */
